<div class="layout-px-spacing">

    <div class="row super-admin">
        <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">                                
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>New User</h4>
                        </div>                                                                        
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <form id="new-user" enctype="multipart/form-data">
                        <div class="form-row mb-4">
                            <div class="form-group col-md-4">
                                <label for="user_firstname">First Name <span class="red-asteriks">*</span></label>
                                <input type="text" class="form-control required user_firstname" name="user_firstname" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="user_lastname">Last Name <span class="red-asteriks">*</span></label>
                                <input type="text" class="form-control required user_firstname" name="user_lastname" placeholder="Last Name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="news_status">Role <span class="red-asteriks">*</span></label>
                                <select class="selectpicker form-control required user_role" name="user_role">
                                    <option value="">Please Select</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Observer">Observer</option>
                                    <option value="Visitor">Visitor</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="form-group col-md-6">
                                <label for="user_email">Email Address <span class="red-asteriks">*</span></label>
                                <input type="email" class="form-control required user_email" name="user_email" placeholder="Email Address">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="news_status">State</label>
                                <select class="selectpicker form-control user_state_code" name="user_state_code" data-live-search="true">
                                    <option value="">Please Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="form-group col-md-6">
                                <label for="password">Password <span class="red-asteriks">*</span></label>
                                <input type="password" class="form-control required password" name="password" placeholder="password">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="re-password">Confirm Password <span class="red-asteriks">*</span></label>
                                <input type="password" class="form-control required re-password" placeholder="Confirm Password">
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary mt-3">Add new user</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row layout-top-spacing super-admin">
    
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Registered Users</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area br-6">
                <div class="table-responsive mb-4 mt-4">
                    <table id="users" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>State (Observers Only)</th>
                                <th>Role</th>
                                <th>Created At</th>
                                <th>Account Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- edit Modal -->
    <div class="modal animated zoomInUp custo-zoomInUp" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-vertical" id="updateUser" enctype="multipart/form-data">
                        <div class="form-row mb-4">
                            <div class="form-group col-md-4">
                                <label for="user_firstname1">First Name <span class="red-asteriks">*</span></label>
                                <input type="text" class="form-control required user_firstname" name="user_firstname" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="user_lastname1">Last Name <span class="red-asteriks">*</span></label>
                                <input type="text" class="form-control required user_lastname" name="user_lastname" placeholder="Last Name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="user_email1">Email Address <span class="red-asteriks">*</span></label>
                                <input type="email" class="form-control required user_email" name="user_email" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="form-group col-md-4">
                                <label for="user_status">User Status <span class="red-asteriks">*</span></label>
                                <select class="selectpicker form-control required user_status" name="user_status">
                                    <option value="">Please Select</option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="user_state_code">User State</label>
                                <select class="selectpicker form-control required user_state_code" name="user_state_code" data-live-search="true">
                                    <option value="">Please Select</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="user_role">User Role <span class="red-asteriks">*</span></label>
                                <select class="selectpicker form-control required user_role" name="user_role">
                                    <option value="">Please Select</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Observer">Observer</option>
                                    <option value="Visitor">Visitor</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="user_id" class="required user_id" />
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Discard</button>
                    <button type="submit" class="btn btn-primary">Update User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/admin/users.js"></script>