<div class="simpleslide100">
	<div class="simpleslide100-item bg-img1" style="background-image: url('assets/img/bgslides/bg1.jpg');"></div>
	<div class="simpleslide100-item bg-img1" style="background-image: url('assets/img/bgslides/bg2.jpg');"></div>
	<div class="simpleslide100-item bg-img1" style="background-image: url('assets/img/bgslides/bg3.jpg');"></div>
	<div class="simpleslide100-item bg-img1" style="background-image: url('assets/img/bgslides/bg4.jpg');"></div>
	<div class="simpleslide100-item bg-img1" style="background-image: url('assets/img/bgslides/bg5.jpg');"></div>
</div>


<div class="form-container outer overlay1">
	<div class="form-form">
		<div class="form-form-wrap">
			<div class="form-container">
				<div class="form-content">
					<img src="assets/img/logo-full.png" height="" width="40%" alt="STRATTON LOGO">
					<br><br>
					<form class="text-left" id="register">
						<div class="form">
							<div id="fname-field" class="field-wrapper input">
								<label for="user_firstname">FIRST NAME</label>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign register"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
								<input id="user_firstname" name="user_firstname" type="text" value="" class="form-control required" required placeholder="First Name">
							</div>
							<div id="lname-field" class="field-wrapper input">
								<label for="user_lastname">LAST NAME</label>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign register"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
								<input id="user_lastname" name="user_lastname" type="text" value="" class="form-control required" required placeholder="Last Name">
							</div>
							<div id="email-field" class="field-wrapper input">
								<label for="user_email">EMAIL</label>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign register"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
								<input id="user_email" name="user_email" type="text" value="" class="form-control required" required placeholder="Email">
							</div>
							<div id="password-field" class="field-wrapper input mb-2">
								<div class="d-flex justify-content-between">
									<label for="password">PASSWORD</label>
								</div>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
								<input id="password" name="password" type="password" class="form-control required" required placeholder="Password">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="toggle-password" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
							</div>
							<div id="re-password-field" class="field-wrapper input mb-2">
								<div class="d-flex justify-content-between">
									<label for="password">CONFIRM PASSWORD</label>
								</div>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
								<input id="re-password" name="confirm_password" type="password" class="form-control required" required placeholder="Confirm Password">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="toggle-password" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
							</div>
							<div class="d-sm-flex justify-content-between">
								<div class="field-wrapper">
									<button type="submit" class="btn btn-primary ld-ext-right" id="submit">
										<span id="btn-text">Sign Up!</span> 
										<div class="ld ld-ball ld-flip"></div>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>                    
			</div>
		</div>
	</div>
</div>

<!-- PAGE SCRIPT -->
<script src="assets/js/register.js"></script>